header {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.navbar { background-color: #9389f3; }

.navbar-brand {color: white !important;}

.navbar.fixed-top { z-index: 1065 !important; }

.navbar + .container-fluid { flex: 1; }

.navbar .modal-content {min-height: 80%;}

.navbar .modal-dialog {max-width: 80%;}

header .row { height: 80vh; }

header h1 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

header .modal-header{
    border: none !important;
}

header .modal-content {height: 80%;}

header .modal-dialog {
    max-width: 800px !important;
    height: 90% !important;
}

header .modal-body {
    padding:0 70px 50px;
}

header .modal-body h1,
header .modal-body p{
    color: black !important;
}

header .modal-body h1{
    font-size: 30px !important;
}

form .text-muted {opacity: .5;}

form .text-muted,
form label,
form input::placeholder { color: white !important; }

form input::placeholder {
    color: rgba(250, 203, 223, 0.4) !important; 
    font-style: italic;
}

form .select-container{
    position: relative;
}

form .select-container::before{
    content: "";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 45px;
}

form .form-control {
    background-color: #fcfcfc1f !important;
    color: white !important;
}

form .form-select{
    background-image: none !important;
    position: relative !important;
    color: black !important;
}

form .form-select option {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

form label {
    margin-bottom: .5rem;
    font-weight: bold;
}

form .calcular{
    position: relative;
    text-align: left;
    font-weight: bold;
}

form .calcular::before{
    content: "";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(317deg) translateY(-50%);
    position: absolute;
    right: 20px;
    top: 50%;
}

.flex-1{ flex: 1; }

.gender-card{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(0deg, #ffffff52 10%, #cecece38 90%);
    box-shadow: 0px 0px 20px 5px rgba(84, 1, 117, 0.1);

    transition: transform  150ms ease-in-out;
}

.gender-card:hover,
.gender-card:focus,
.gender-card:active
{
    transform: scale(1.05);
    box-shadow: 0px 20px 40px 5px rgba(84, 1, 117, 0.5);
    background: linear-gradient(0deg, #ffffff5b 10%, #ffffffa4 90%);
}

.gender-card h2{ color: rgba(255, 255, 255, 0.5);}

.gender-card:hover svg { fill: white;}

.gender-card:hover h2 { color: rgba(255, 255, 255, 1);}

.gender-icon svg{
    width: 70px;
    fill: rgb(255, 255, 255, 0.5);
}


.gender-text-selection { color:white; }

.gender-txt-help {
    font-size: 15px;
    color: rgb(0, 38, 161);
}

.restultado-container{
    background-color: rgba(250, 250, 250, 0.8);
    max-width: 1450px;
    min-width: 800px;
    padding: 100px 40px !important;
    border-radius: 15px;
    top: 10%;
    margin: auto;
    box-shadow: 0px 20px 40px 5px rgba(84, 1, 117, 0.5);
}


.resultado-calorias div{ margin: auto; }

.resultado-calorias h3, 
.resultado-calorias h1{
    color: black;
    font-weight: bolder;
    line-height: 100%;
    margin: 0;
}

.resultado-calorias h3{ font-size: 48px; }

.resultado-calorias h1{ font-size: 140px; }

#resultado-def-padre > p,
#resultado-def-padre > div > p {
    font-size: 18px;
    line-height: 180%;
}

#resultado-def-padre > div > p { margin-bottom: 50px; }


.d-none{display: none;}

.swal2-confirm.swal2-styled{
    background-color: #d366e0 !important;
    border: none !important;
}

.swal2-container.swal2-backdrop-show{
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.peso-proceso svg path{
    stroke:black !important;
}

.proceso-form label,
.proceso-form input { color:black !important; }

.proceso-form input {
    background-color: white !important;
    border: #4158D0 !important;
}

.proceso-form input::placeholder { color: gray !important; }

.pesoProceso-card {
    width: 300px;
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 30px 2px rgba(161, 84, 107, 0.233);
    border-radius: 15px;    
    color: rgb(194, 194, 194) !important;
}

.pesoProceso-card h1{
    font-size: 157px;
    text-align: center;
    color: rgb(194, 194, 194) !important;
}

.peso-resultodo { color: black !important; width: 100%; }

.peso-resultodo h1 {
    font-size: 60px;
    line-height: 100%;
    color: black !important;
}

.peso-resultodo h1, h4, p{ margin: 0!important; text-align: left;}


.peso-resultodo p {
    font-size: 12px;
    font-weight: bold;
}

.line {
    height: 2px;
    width: 100%;
    background-color: rgb(70, 69, 69);
    margin: 30px 0;
}

.section-products{ height: 100vh }

.products {
    gap: 80px 30px;
}

.product-item{
 width: 300px;
 border-radius: 5px;
 box-shadow: 0px 0px 20px 2px rgba(114, 113, 113, 0.233);
 cursor: pointer;
 transition: transform ease-in-out 100ms;
}

.product-item:hover{
    box-shadow: 0px 5px 20px 2px rgba(114, 113, 113, 0.658);
    transform: scale(1.05);
   }

.product-img{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.product-img img{
    height: 100%;
}

.add-product {
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.carrito-btn{
    background-color: transparent;
    border: none;
}

.carrito > div {
    content: "";
    display: block;
    background-color: white;
    top: -4px;
    left: 15px;
    color: #4158D0;
    font-size: 12px;
    font-weight: bolder;
    padding: 0px 6px;
}


.carrito-main {
    background-color: #efeff3;
    height: 100vh;
}

.carrito-main .container{
    background-color: #fff;
    min-height: 200px;
    max-height: calc(100vh - 200px);
    position: relative;
    top: 150px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px rgba(206, 207, 214, 0.342);
}

.carrito-tabla .col-50{
    width: 50px;
}

.carrito-tabla .col-100{
    width: 100px;
}

.carrito-tabla img {
    max-width: 50px;
    max-height: 50px;
}
.carrito-tabla td {
    vertical-align: middle;
    font-size: 16px;
}

/* .item-img {
    flex-basis: 50px;
    height: 50px;
}

.item-description {
    flex-grow: 5;
}

.item-quantity,
.item-precio{
    flex-basis: 50px;
    text-align: right;
}

.item-remove { flex-basis: 15px;} */